@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Oswald&display=swap');
:root{
    --green:#37784E;
}
*{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
h1{
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
p{
    color: #777;
    line-height: 1.5rem;
}
p a{
    color: #555;
    font-weight: bold;
    text-decoration: none;
}
div.shadow-text{
    color: #000;
    opacity: 0.05;
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 2px;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
header > div{
    display: grid;
    grid-template-columns: min-content 1fr;
}
div.center{
    max-width: 700px;
    margin: 0 auto;
}
header{
    padding: 20px 0;
}
header a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;   
}
header a.logo{
    color: #37784E;
    padding-left: 0;
}
header nav{
    text-align: right;
}
@media screen and (max-width:730px) {
    header nav a:not(:first-child){
        color: white;
    }
}
div.intro{
    padding: 80px 0;
    min-height: 500px;
}
div.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
div.intro img{
    position: absolute;
    top: -180px;
    right: -50px;
    z-index: -1;
    width: 600px;
    height: auto;
    border-top-right-radius: 550px;
    border-top-left-radius: 220px;
    border-bottom-right-radius: 900px;
    transform: rotate(-170deg);
}
div.vertical-line{
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    left: -70px;
    bottom: -100px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 0.7rem;
}
div.vertical-line::after{
    content: '';
    width: 100px;
    margin-bottom: 4px;
    margin-left: 5px;
    height: 1px;
    display: inline-block;
    background-color: #ccc;
}
div.intro > div.two-columns > div:first-child{
    position: relative;
}
div.horizontal-line{
    color: #888;
    font-size: 0.7rem;
    margin-bottom: 30px;
}
div.horizontal-line::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #aaa;
    margin-bottom: 2px;
    margin-right: 5px;
}
div.testimonials-box{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    margin: 150px 20px 0;
    padding: 50px 30px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    background-color: #fff;
} 
div.testimonials-box > h3{
    position: absolute;
    top: -20px;
    font-size: 2rem;
}
div.testimonial-content{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 40px; 
}
div.testimonial-content img{
    border-radius: 50%;
    height: 100%;
    width: 140%;
}
.profile-image{
    position: relative;
    left: 10px;
}
.profile-image .circle{
    height: 210px;
    width: 210px;
    position: absolute;
    top: -16px;
    left: -10px;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--green);
}
.testimonials-columns{
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 40px;
} 
.testimonial-contents{
    height: 280px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.testimonial-content{ 
    padding: 50px 0;
    scroll-snap-align: start;
}
.testimonial-link a img{
    display: block;
    border-radius: 50%;
    margin-bottom: 10px;
}
div.stars{
    color: #ACC6B6;
    margin-top: 4px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}
div.stars div.filled{
    display: inline-block;
    color: var(--green);
}
div.testimonial-content {
    font-size: 0.8rem;
    line-height: 1.2rem;
}
div.testimonials div.shadow-text{
    position: absolute;
    top: -100px;
    z-index: -1;
}
div.testimonials{
    position: relative;
}