@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&family=Oswald&display=swap');
:root{
    --green:#37784E;
}
*{
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

h1{
    font-weight: normal;
    margin-bottom: 10px;
    font-size: 3rem;
}
h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
p{
    color: #777;
    line-height: 1.5rem;
}
@media screen and (max-width: 700px) {
    h1{
        font-size: 2rem;
    }
    h1{
        font-size: 1.5rem;
    }
    p{
        font-size: 0.8rem;
    }
    img{
        overflow: hidden;
    }
}
p a{
    color: #555;
    font-weight: bold;
    text-decoration: none;
}
div.shadow-text{
    color: #000;
    opacity: 0.05;
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 2px;
}
@media screen and (max-width: 700px){
    div.shadow-text{
        font-size: 2.5rem;
        overflow: hidden;
    }
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
@media screen and (max-width: 700px) {
    body{
        overflow-x: hidden;
    }
}
header > div{
    display: grid;
    grid-template-columns: min-content 1fr;
}
div.center{
    max-width: 700px;
    margin: 0 auto;
}
header{
    padding: 20px 0;
    position: relative;
}
@media screen and (max-width:730px){
    header{
        overflow-x: hidden;
    }
    header img{
        overflow: hidden;
    }
}
header a{
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;   
}
header a.logo{
    color: #1b7e3d;
    padding-left: 0;
}
header nav{
    text-align: right;
}
@media screen and (max-width:730px) {
    header nav a:not(:first-child){
        color: white;
    }
    header nav{
        text-align: right;
        overflow-x: hidden;
    }
    header nav a{
        font-size: 0.8rem;
    }
}
div.intro{
    padding: 80px 0;
    min-height: 500px;
}
@media screen and (max-width:730px){
    div.intro{
        overflow: hidden;
    }
}
div.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
div.intro img{
    position: absolute;
    top: -180px;
    right: -50px;
    z-index: -1;
    width: 600px;
    height: auto;
    border-top-right-radius: 550px;
    border-top-left-radius: 220px;
    border-bottom-right-radius: 900px;
    transform: rotate(-170deg);
    overflow: hidden;
}
.big-img{
    overflow: hidden;
}
@media screen and (max-width: 700px) {
    div.two-columns{
        padding: 20px;
    }
    div.two-columns img{
        overflow: hidden;
    }
    .big-img{
        overflow: hidden;
    }
    div.intro img{
        width: 600px;
        height: 800px;
        right: -210px;
        transform: rotate(-190deg);
        overflow: hidden;
    }
}
div.vertical-line{
    transform: rotate(-90deg);
    display: inline-block;
    position: absolute;
    left: -70px;
    bottom: -100px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 0.7rem;
}
div.vertical-line::after{
    content: '';
    width: 100px;
    margin-bottom: 4px;
    margin-left: 5px;
    height: 1px;
    display: inline-block;
    background-color: #ccc;
}
div.intro > div.two-columns > div:first-child{
    position: relative;
}
@media screen and (max-width: 700px){
    .two-columns.phn{
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: hidden;
    }
    .two-columns.phn:last-child p{
        font-size: 0.7rem;
    }
    .two-columns.phn:last-child h2{
        font-size: 1.4rem;
        padding-bottom: 0;
    }
}
div.horizontal-line{
    color: #888;
    font-size: 0.7rem;
    margin-bottom: 30px;
}

div.horizontal-line::before{
    content: '';
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #aaa;
    margin-bottom: 2px;
    margin-right: 5px;
}
div.testimonials-box{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    margin: 150px 20px 0;
    padding: 50px 30px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    background-color: #fff;
} 
div.testimonials-box > h3{
    position: absolute;
    top: -20px;
    font-size: 2rem;
}
div.testimonial-content{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 40px; 
}
div.testimonial-content img{
    border-radius: 50%;
    height: 100%;
    width: 140%;
}

.profile-image{
    position: relative;
    left: 10px;
}
.profile-image .circle{
    height: 210px;
    width: 210px;
    position: absolute;
    top: -16px;
    left: -10px;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--green);
}
@media screen and (max-width: 700px){
    div.testimonial-content img{
    height: 22%;
    width: 86%;
    }
    div.testimonial-content{
    grid-template-columns: 70px 1fr;
    gap: 10px;
    }
    .profile-image .circle{
    height: 65px;
    width: 65px;
    top: -6px;
    left: -4px;
    }
    div.testimonial-content p{
        font-size: 0.6rem;
        line-height: 20px;
    }
}
.testimonials-columns{
    display: grid;
    grid-template-columns: 1fr 40px;
    gap: 40px;
} 

.testimonial-contents{
    height: 280px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.testimonial-content{ 
    padding: 50px 0;
    scroll-snap-align: start;
}

.testimonial-link a img{
    display: block;
    border-radius: 50%;
    margin-bottom: 10px;
}
div.stars{
    color: #ACC6B6;
    margin-top: 4px;
    margin-bottom: 10px;
    letter-spacing: 5px;
}
div.stars div.filled{
    display: inline-block;
    color: var(--green);
}
div.testimonial-content {
    font-size: 0.8rem;
    line-height: 1.2rem;
}
div.testimonials div.shadow-text{
    position: absolute;
    top: -100px;
    z-index: -1;
}
div.testimonials{
    position: relative;
}
div.download{
    margin-top: 80px;
    position: relative;
}
div.download h2{
    font-size: 2.5rem;
}
div.download div.shadow-text{
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 280px;
}
@media screen and (max-width: 700px){
    div.download h2{
        font-size: 1.5rem;
        font-weight: bold;
    }
    div.download div.shadow-text{
        font-size: 3rem;
        left: 15px;
        top: -40px;
        letter-spacing: 0.02rem;
        overflow-x: hidden;
    }
    .two-columns.dp{
        grid-template-columns: 1fr;
    }
}
a.download{
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    width: 125px;
    height: 28px;
    overflow: hidden;
    border: 2px solid #aaa;
    border-radius: 12px;
}
a.download img{
    width: 145px;
    max-width: initial;
    position: relative;
    left: -8px;
    top: -6px;
}
.download.app img{
    top: -11px;
    left: -12px;
}
footer{
    color: #fff;
}
@media screen and (max-width: 700px){
    footer{
        overflow: hidden;
    }
}
footer p{
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
}
@media screen and (max-width: 700px){
    footer p{
        font-size: .9rem;
    }
}
footer svg{
    display: block;
}
.footer-content{
    position: relative;
    background-color: var(--green);
    padding: 20px;
    top: -1px;
}
footer a.logo{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    left: 80px;
    position: relative;
    margin: 0 auto;
}
footer a.logo img{
    position: absolute;
    width: 150px;
    left: -120px;
    top: -70px;
}
footer form{
    margin-top: 20px;
    background-color: #609372;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}
@media screen and (max-width: 700px){
    footer form{
        display:inline-flex;
        gap: 0.3px;
    }
}
footer form input{
    background-color: transparent;
    border: 0;
    color: #fff;
    min-width: 180px;
    padding: 10px;
}
footer form input::placeholder{
    color: #fff;
}
footer button{
    background-color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    color: var(--green);
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}
@media screen and (max-width: 700px){
    footer button{
        font-size: 0.8rem;
    }
    footer form input::placeholder{
        font-size: 0.7rem;
    }
}
.columns{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 200px 200px; 
}
.columns img{
    position: relative;
    padding-bottom: 50px;
    top: -50px;
}
.columns h3{
    font-weight: bold;
    font-size: 1.1rem;
}
.columns p{
    color: rgba(255, 255, 255, 0.5);
}
.columns a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    line-height: 2rem;
    font-size: 0.8rem;
}